{% extends 'base.html' %}

{% block content %}
<div class="article-entry">
    <h2>{{object.title}}</h2>
    <p>{{object.author}} | {{object.date}}</p>
    {% if article.image %}
    <img src="{{object.image.url}}" alt="Bu yerda rasm bor">
    {% endif %}
    <p>{{object.body}}</p>
</div>
<p>
    <a href="{% url 'article_edit' article.pk %}" class="btn btn-success">Tahrirlash</a>
    <a href="{% url 'article_delete' article.pk %} " class="btn btn-danger">O'chirish</a>
    <p><a href="{% url 'article_list' %}">Barcha maqola</a> larni ko'rish</p>
</p>

{% endblock %}